:root {
  --box-dimension: 575px;
}

#frame {
  position: relative;
  height: calc(var(--box-dimension) + 5px);
  width: calc(var(--box-dimension) * 1.16);
}

#paletteContainer {
  border: solid grey 2px;
  height: var(--box-dimension);
  width: var(--box-dimension);
  display: inline-grid;
  grid-template-columns: 10px;
  grid-template-rows: 10px;
}

#buttonContainer {
  position: absolute;
  right: 0px;
  top: 2px;
  height: var(--box-dimension);
  width: calc(var(--box-dimension) * .15);
}

#reset {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50%;
  width: calc(var(--box-dimension) * .15);
}

#colorSelectDiv {
  position: absolute;
  top: calc(var(--box-dimension) * .0155);
  height: 16%;
  width: calc(var(--box-dimension) * .15);
  text-align: center;
}

#fadeToBlack {
  position: absolute;
  right: 0px;
  top: calc((var(--box-dimension) * .16));  
  height: 16%;
  width: calc(var(--box-dimension) * .15);
}

#randomRGB {
  position: absolute;
  right: 0px;
  top: calc((var(--box-dimension) * .33));
  height: 16%;
  width: calc(var(--box-dimension) * .15);
}

.button:hover {
  background-color: #dddddd;
  transform: scale(1.005);
  border-color: #bbbbbb;
}